.home-container {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: center;

	border-bottom: .2rem solid var(--yosemite-mud);
	padding: 2rem 1rem 0 1rem;

	height: var(--home-height);
	background-color: var(--yosemite-green);
}

.home-container p {
	font-family: IMFell-reg;
	font-size: 3.5rem;
	font-weight: 600;
	color: var(--yosemite-brown);
}
.home-container p:last-of-type {
	font-size: 2rem;
}